//Colors

$default-color: #1e1e1e;

//Fonts

$font-lato: "Lato";
$font-lato-regular: 400;
$font-lato-light: 300;

//About Section

.about-section {
    margin-bottom: 40px;
}

//About - items

.about-items {
    h1 {
        font-family: $font-lato;
        font-weight: $font-lato-regular;
        color: $default-color;
        text-align: left;
        letter-spacing: normal;
        line-height: 25px;
    }
    .about-items-paragraph {
        font-family: $font-lato;
        font-weight: $font-lato-light;
        letter-spacing: normal;
        text-align: left;
        line-height: 24px;
    }
    input {
        font-family: $font-lato !important;
        font-style: italic;
        font-weight: $font-lato-regular;
        color: $default-color;
    }
    .fas {
        left: -30px !important;
    }
    .blog-article {
        .blog-items-text {
            p {
                font-family: 'bodonibook';
                color: $default-color;
                font-style: italic;
                line-height: 17px;
                font-size: 14px;
            }
            h6 {
                font-family: $font-lato;
                color: $default-color;
                line-height: 24px;
                font-size: 16px; 
                font-weight: $font-lato-regular;
            }
        }
    }
}

//About - Footer

.about-footer {
    margin-top: 80px;
}

//RESPONSIVE

@media (min-width: 768px) {
    //About section
    .about-section {
        margin-bottom: 91px;
    }
}

@media (min-width: 992px) {
    
    //About-Items section

    .about-items {
        h1 {
            font-size: 44px;
            line-height: 50px;
        }
        .about-items-paragraph {
            font-size: 20px;
            line-height: 28px;
        }
    }

    //About - Footer

    .about-footer {
        margin-top: 150px;
    }
}
