
//Welcome - Services section

.services {
    margin-bottom: 40px;
}

@media(min-width: 768px){
    .services {
        margin-bottom: 88px;
    }
}

//Our services section

.services-secondPage {
    margin-bottom: 40px;
}